<div
  *ngIf="!viewDetailCard"
  class="card"
  draggable="true"
  (dragstart)="dragStart($event)" >
  <span class="title">{{card.title}}</span>
  <span class="actions">
    <img
      src="assets/images/info.svg"
      height="15"
      width="15"
      class="info"
      title="View details"
      (click)="onViewCard()"/>
    <img
      src="assets/images/edit-3.svg"
      height="15"
      width="15"
      title="Edit card"
      class="edit"
      (click)="onEditCard()"/>
    <img
      src="assets/images/delete.svg"
      height="15"
      width="15"
      (click)="onDeleteCard(cardIndex)"
      title="Delete card"/>
  </span>
</div>

<app-card-detail
  *ngIf="viewDetailCard"
  [card]="card"
  [editMode]="editMode"
  [cardIndex]="cardIndex"
  [listIndex]="listIndex"
  (closed)="onClosed()">
</app-card-detail>
