.list {
  background: #e2e4e6;
  width: 20vw;
  margin-top: 30px;
  margin-left: 2vw;
  margin-right: 2vw;
  display: inline-block;
  height: 20rem;
  max-height: 20rem;
  overflow-y: auto;
  border-radius: 10px;
}

.list-title {
  text-align: center;
  margin: 0;
  padding: 5px 0;
}

.list-actions {
  position: relative;
  top: 5px;
  right: 5px;
  text-align: right;
  cursor: pointer;
}

.plus, .edit {
  padding-right: 4px;
}

.card {
  width: 94%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  height: 150px;
  padding: 10px 5px 4px 5px;
  font-size: 16px;
  margin-top: 10px;
}

.input {
  padding-left: 10px;
  border-radius: 4px;
  border-width: 0;
  width: 80%;
  background-color: #f3f3f3;
  margin-top: 10px;
}

.title {
  height: 30px;
}

.description {
  height: 50px;
  resize: none;
}

.create-btn {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  height: 30px;
  width: 50px;
  display: block;
  background-color: #17B978;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}

.cards {
  height: 250px;
  max-height: 250px;
  overflow-y: auto;
}

.edit-title {
  margin-top: 25px;
  margin-left: 20px;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
  border-width: 0;
}

.save-btn {
  vertical-align: middle;
  padding-left: 10px;
  cursor: pointer;
}

.close {
  float: right;
  cursor: pointer;
  padding-right: 5px;
  padding-top: 5px;
}
