.navbar {
  height: 9vh;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #17b978;
  position: fixed;
  top: 0;
  width: 100vw;
}

.header {
  font-family: 'Open Sans', sans-serif;
  height: 5vh;
  top: 2vh;
  bottom: 2vh;
  margin: 0;
  position: relative;
  font-size: 27px;
  font-weight: bold;
}

.container {
  margin-top: 9vh;
  width: 100vw;
  height: 89vh;
  max-height: 89vh;
  overflow-y: auto;
  /* background-image: url('https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: auto; */
}
