.board {
  background-color: transparent;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 96vw;
}

.lists {
  margin-top: 50px;
}

.add-list {
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  right: 20px;
  padding: 10px 20px;
  position: fixed;
  top: 7px;
}

.list {
  background: #e2e4e6;
  width: 20vw;
  margin-top: 30px;
  margin-left: 2vw;
  margin-right: 2vw;
  display: inline-block;
  height: 20rem;
  max-height: 20rem;
  overflow-y: auto;
  border-radius: 10px;
}

.input {
  margin-top: 25px;
  margin-left: 20px;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
  border-width: 0;
}

.create-btn {
  vertical-align: middle;
  padding-left: 10px;
  cursor: pointer;
}
