.board {
  background-color: transparent;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 96vw;
}

.lists {
  margin-top: 50px;
}

.add-list {
  background-color: #3fba8d;
  height: 45px;
  width: 80px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  right: 30px;
  position: absolute;
  top: 11vh;
}

.list {
  background: #e2e4e6;
  width: 20vw;
  margin-top: 30px;
  margin-left: 2vw;
  margin-right: 2vw;
  display: inline-block;
  height: 20rem;
  max-height: 20rem;
  overflow-y: auto;
  border-radius: 10px;
}

.input {
  margin-top: 25px;
  margin-left: 20px;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
  border-width: 0;
}

.create-btn {
  margin-left: 20px;
  background-color: #3fba8d;
  height: 35px;
  width: 80px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}
