.board {
  background-color: transparent;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 96vw;
}

.lists {
  margin-top: 50px;
}

.add-list {
  background-color: #3fba8d;
  height: 45px;
  width: 80px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  right: 30px;
  position: absolute;
  top: 11vh;
}
